.flex-container{
    display: flex;
    justify-content: center;
    align-content: center;  
    margin: 120px 90px 0px -85px;
}
/* font for the paragraph */
@font-face {
    font-family: "Lexend Deca";
    src: url('LexendDeca-VariableFont_wght.ttf');
}
/* font for the header */
@font-face {
    font-family: "Big Shoulders Display";
    src: url('BigShouldersDisplay-VariableFont_wght.ttf');
}
@media only screen and (max-width: 400px) {
.flex-container{display: flex;
    justify-content: center;
    align-content: center;  
    margin: 120px 90px 0px -85px;}
}

@media only screen and (min-width: 1200px) {
.flex-container{display: flex;
    justify-content: center;
    align-content: center;  
    margin: 120px 90px 0px -85px;}
}
body{
    background-color: hsl(0, 0%, 95%);
}
.column{
    width: 200px;
    padding: 30px 30px 30px 30px;
}
#sedan{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#suv{
    background-color: hsl(184, 100%, 22%);
}
#luxury{
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400;
    font-family: "Lexend Deca";
}
h1{
    color: hsl(0, 0%, 95%);
    font-weight: 700;
    font-family: "Big Shoulders Display";
}
button{
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    border: 1px solid white;
    padding: 10px 20px 10px 20px;
    margin-top: 50px;
}

#suvbtn{
    color: hsl(184, 100%, 22%);
}
#suvbtn:hover{
    background-color: hsl(184, 100%, 22%);
    color: white;
}
#sedanbtn{
    color: hsl(31, 77%, 52%);
}
#sedanbtn:hover{
    background-color: hsl(31, 77%, 52%);
    color: white;
}
#luxurybtn{
    color: hsl(179, 100%, 13%);
}
#luxurybtn:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
}